@font-face {
    font-family: "Cinzel";
    src: url("cinzel.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Libre Baskerville";
    src: url("libre.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.bg-image {
    position: absolute;
    inset: 0;
    background-image:
            url(background.jpg),
            linear-gradient( 
                rgb(0, 0, 0), 
                rgb(0, 0, 0));
    background-size: 100% 100%;
    z-index: 0;
    min-height: 540px;
}

/* Header */

header {
    position: relative;
    z-index: 1;
    height: 20%;
    min-height: 106px;
    background: 
        linear-gradient(165deg, 
            rgba(37, 0, 97, 0.534) 3%, 
            rgba(0, 0, 0, 0) 22%);
}

#title-container {
    width: 30%;
    height: 100%;
    min-width: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    margin: 0;
    font-size: 38.4px;
    font-family: "Cinzel", serif;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px rgb(45, 5, 156);
    border-radius: 30px;
    padding: 2% 4.5%;
    background: 
        linear-gradient(160deg, 
            rgba(56, 28, 134, 0.795),
            rgba(9, 1, 39, 0.719));
}

/* Main content  */

main {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: flex-end;
    width: 330px;
    margin: -30px 7% 0 0;
}

#description {
    background: 
        linear-gradient(35deg, 
            rgb(65, 49, 151) 25%, 
            rgb(90, 72, 189) 50%);
    border-radius: 15px;
    padding: 20px 20px;
    box-shadow: 0px 2px 5px 5px rgba(17, 17, 17, 0.897);
}

#description h2 {
    text-align: center;
    color: rgb(228, 228, 228);
    font-family: "Cinzel", serif;
    margin-top: 10px;
}

#description p {
    color: rgb(228, 228, 228);
    font-family: 'Libre Baskerville', serif;
}

#browse-button {
    text-align: center;
    margin: 20px 0;
    background-color: rgb(23, 9, 73);
    padding: 10px 20px;
    border-radius: 25px;
    border: solid .2px rgb(91, 67, 146);
    box-shadow: 1px 1px 1px 1px black;
    font-size: 15.5px;
}

#browse-button:hover{
    background-color: rgb(34, 16, 99);
    cursor: pointer;
}

#browse-button:active {
    background-color: rgb(46, 27, 117);
}

main a {
    text-decoration: none;
    color: rgb(199, 199, 199);
}

/* Footer */

footer {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

address {
    font-family: 'Libre Baskerville', serif;
    padding: 10px;
    color: rgb(82, 78, 88);
    text-shadow: 1px 1.5px rgb(22, 4, 70);
    background-color: rgb(3, 3, 3);
    border-radius: 20px;
    box-shadow: 0px 2px 8px 8px rgb(3, 3, 3);
}

/* Styles for smaller screen widths */

@media (max-width: 832px) {
    h1 {
        font-size: 35.2px
    }
}

@media (max-width: 768px) { 

    .bg-image {
        position: fixed;
        background-image:
            url(background.jpg),
            linear-gradient(
                rgb(0, 0, 0), 
                rgba(0, 0, 0));
        filter: brightness(.5);
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 3% 0 0 0;
    }

    #title-container {
        width: auto;
    }

    h1 {
        font-weight: 700;
        padding: 10px;
        background: 
            radial-gradient(
                rgb(56, 28, 134),
                rgb(4, 0, 15));
        box-shadow: 0px 2px 15px 12px rgb(3, 3, 3);
    }

    main {
        align-self: center;
        margin: 0;
    }

    #browse-box {
        margin: 30px 0;
    }

    footer {
        justify-content: flex-end;
        align-items: flex-end;
    }

    address {
        font-size: 14.4px;
        margin: 15px;
    }
}

@media (max-width: 472px) {
    footer {
        justify-content: center;
    }

    address {
        margin: 10px;
        min-width: 128px;
        font-size: 13px;
        text-align: center;
    }
}

@media (max-width: 380px) {
    main {
        width: 260px;
    }
}