@font-face {
    font-family: "Cinzel";
    src: url("cinzel.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Libre Baskerville";
    src: url("libre.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

html {
    height: 100%;
    min-height: 540px;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bg-image {
    position: absolute;
    inset: 0;
    background-image: url('background.jpg');
    background-size: 100% 100%;
    z-index: 0;
    min-height: 540px;
}

header {
    position: relative;
    z-index: 1;
    height: 30%;
    min-height: 106px;
    background: 
        linear-gradient(160deg, 
            rgba(37, 0, 97, 0.534) 3%, 
            rgba(0, 0, 0, 0) 22%);
}

#title-container {
    width: 30%;
    height: 100%;
    min-width: 122px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 38.4px;
    font-family: "Cinzel", serif;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px rgb(45, 5, 156);
    border-radius: 30px;
    padding: 2% 4.5%;
    background: 
        linear-gradient(160deg, 
            rgba(56, 28, 134, 0.795),
            rgba(9, 1, 39, 0.719));
}

main {
    position: relative;
    z-index: 1;
    color: rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-end;
    width: 330px;
    margin: -30px 7% 0 0;
}

#description {
    background: 
        linear-gradient(35deg, 
            rgb(65, 49, 151) 25%, 
            rgb(90, 72, 189) 50%);
    border-radius: 15px;
    padding: 20px 20px;
    box-shadow: 0px 2px 5px 5px rgba(17, 17, 17, 0.897);
}

#description h2 {
    text-align: center;
    color: rgb(228, 228, 228);
    font-family: "Cinzel", serif;
    margin-top: 10px;
}

#description p {
    color: rgb(228, 228, 228);
    font-family: 'Libre Baskerville', serif;
}

main div a {
    text-decoration: none;
    color: rgb(199, 199, 199);
}

#browse-box {
    text-align: center;
    align-self: center;
    margin: 20px 0;
    background-color: rgb(23, 9, 73);
    padding: 10px 20px;
    border-radius: 25px;
    border: solid .2px rgb(91, 67, 146);
    box-shadow: 1px 1px 1px 1px black;
    font-size: 15.5px;
}

#browse-box:hover{
    background-color: rgb(34, 16, 99);
    cursor: pointer;
}

#browse-box:active {
    background-color: rgb(46, 27, 117);
}

footer {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

address {
    font-family: 'Libre Baskerville', serif;
    padding: 10px;
    color: rgb(82, 78, 88);
    text-shadow: 1px 1.5px rgb(22, 4, 70);
    background-color: rgb(3, 3, 3);
    border-radius: 20px;
    box-shadow: 0px 2px 8px 8px rgb(3, 3, 3);
}

@media (max-width: 832px) {
    h1 {
        font-size: 35.2px
    }

    .bg-image {
        filter: blur(1px);
    }
}

@media (max-width: 768px) {
    body {
        justify-content: flex-start;
    }

    .bg-image {
        filter: blur(5px);
    }

    header {
        height: 20%;
        padding: 2% 0 0 0;
    }

    #title-container {
        width: auto;
    }

    h1 {
        font-size: 41.6;
        font-weight: 700;
        padding: 10px;
        background: 
            radial-gradient(
                rgb(56, 28, 134),
                rgba(4, 0, 15, 0.774));
        box-shadow: 0px 2px 15px 12px rgb(3, 3, 3);
    }

    main {
        align-self: center;
        width: 330px;
        margin: 4% 0;
    }

    #browse-box {
        margin: 10px 0;
    }

    footer {
        justify-content: flex-end;
        /* padding-bottom: 0; */
    }

    address {
        font-size: 14.4px;
        position: absolute;
        right: 12px;
        bottom: 12px;
        padding: 0;
        box-shadow: 2px 0 10px 9px rgb(3, 3, 3);
    }
}
